@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(104, 34, 34);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: rgb(194, 143, 143);
}

section {
    padding: 100px 180px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/main.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.main h2 {
    font-size: 1.4em;
    font-weight: 500px;
}

.main h2 span {
    color: rgb(104, 34, 34);
    font-size: 2.5em;
    font-weight: 600px;
}

.main h3 {
    color: rgb(0, 0, 0);
    margin-top: 8px;
    margin-bottom: 10px;
}

.eventClass {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/theater.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.eventClass h2 {
    font-size: 1.4em;
    font-weight: 500px;
}

.eventClass h2 span {
    color: rgb(104, 34, 34);
    font-size: 2.5em;
    font-weight: 600px;
}

.eventClass h3 {
    color: rgb(255, 255, 255);
    margin-top: 8px;
    margin-bottom: 10px;
}

.event_btn {
    color: rgb(255, 255, 255);
    background-color: rgb(23, 23, 131);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.5375em 1.1875em;
    letter-spacing: 0.5px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.8s ease;
}

.event_btn:hover {
    background-color: rgb(18, 18, 110);
    transform: scale(1.11);
}

.forumClass {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/forum.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.forumClass h2 {
    font-size: 1.4em;
    font-weight: 500px;
}

.forumClass h2 span {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: 600px;
}

.forumClass h3 {
    color: rgb(252, 252, 252);
    margin-top: 8px;
    margin-bottom: 10px;
}

.forum_btn {
    color: rgb(255, 255, 255);
    background-color: rgb(23, 23, 131);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.5375em 1.1875em;
    letter-spacing: 0.5px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.8s ease;
}

.forum_btn:hover {
    background-color: rgb(18, 18, 110);
    transform: scale(1.11);
}


.meetingClass {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/meeting.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.meetingClass h2 {
    font-size: 1.4em;
    font-weight: 500px;
}

.meetingClass h2 span {
    color: rgb(104, 34, 34);
    font-size: 2.5em;
    font-weight: 600px;
}

.meetingClass h3 {
    color: rgb(0, 0, 0);
    margin-top: 8px;
    margin-bottom: 10px;
}

.meeting_btn {
    color: rgb(255, 255, 255);
    background-color: rgb(23, 23, 131);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.5375em 1.1875em;
    letter-spacing: 0.5px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.8s ease;
}

.meeting_btn:hover {
    background-color: rgb(18, 18, 110);
    transform: scale(1.11);
}

.footer {
    background-color: rgb(23, 23, 131);
    color: white;
    justify-content: space-between;
    display: flex;
    padding: 2em;
}

.footer-title {
    font-size: 1em;
    font-weight: 600;
}

.footer-title span{
    color: rgb(153, 149, 149);;
}

@media (max-width: 1023px){
header {
    padding: 12px 20px;
}
    .navigation a{
        padding-left: 10px;
    }
    .title {
        font-size: 1.8em;
    }
}